@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
.header1{
    height: 70px;
    width: 100%;
    background: #0077b6;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    align-items: center;
    z-index: 4;
}
.header2{
    height: 60px;
    position: sticky;
    top:0px;
    z-index: 3;
    display: flex;
    align-items: center;
    background: #fff;
    width: 100%;
    /* border: 1px solid black; */
}
#a1{
    text-decoration: none;
    color:#444;
}
.section-1{
    height: calc(100vh - 130px);
    width: 100%;
    position: relative;
    z-index: 0 !important;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header1 .head1{
    font-size: 35px;
    color: white;
    font-weight: 600;
}
.header1 .dot{
    font-size: 45px;
    color: #f72585;
    font-weight: 600;
}
.head{
    margin-left: 50px;
    margin-top: -10px;
    cursor: pointer;
}
.search-ico{
    position: absolute;
    right: 40px;
    margin-right: 50px;
    cursor: pointer;
    color:white;
    padding: 10px;
    font-size: 35px;
    /* border: 1px solid black; */
}
.search-ico:hover{
    animation-name: flip;
    animation-direction: alternate;
    animation-duration: 1s;
}
.ul1{
    width: 900px;
    height: 60px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
}
li{
    display: inline;
    list-style-type: none;
    font-size: 22px;
    font-weight: 500;
    color:#444;
    cursor: pointer;
    padding-top: 13.5px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    /* border: 1px solid red; */
}
li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #0077b6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
li:hover:after { transform: scaleX(1); }
li.fromRight:after{ transform-origin:100% 50%; }
li.fromLeft:after{  transform-origin:  0% 50%; }

@keyframes flip {
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 950px) {
    li{
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
    }
    ul{
        /* border: 1px solid #000; */
        width: 100% !important;
    }
}

.hamburger-menu {
    display: none;
    cursor: pointer;

}
.hamburger-btn1{
    display: none;
    cursor: pointer;
    
}
.hamburger-btn2{
    display: none;
    cursor: pointer;

    
}
.hamburger-btn3{
    display: none;
    cursor: pointer;

}

@media screen and (max-width: 620px) {
    .header2{
        display: none;
    }
    .section-1{
        height: calc(100vh - 70px) !important;
    }
    .head{
        margin-left: 30px;
    }
    .search-ico{
        display: none;
    }
    li{
        text-align: center;
        color:white;
        font-size: 24px;
        margin-bottom: 20px; 
        margin-top: 20px;
    }
.hamburger-menu {
    height: 50px;
    width: 60px;
    border: 1px solid #333;
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    z-index:5;
}
.hamburger-btn1{
    display: block;
    height: 5px;
    width: 35px;
    background: white;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-top:7px;
}
.hamburger-btn2{
    height: 5px;
    width: 35px;
    background: white;
    border: none;
    margin-bottom: 7px;
    display: block;
    outline: none;
    border-radius: 2px;
}
.hamburger-btn3{
    height: 5px;
    width: 35px;
    margin-bottom: 7px;
    background: white;
    display: block;
    border: none;
    outline: none;
    border-radius: 2px;
}
.menu{
    width: 100vw;
    height: 0;
    position: absolute;
    right: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    transition-duration: .4s;
    background: #333;
}
.header1{
    box-shadow: 1px 1px 4px #555;
}
}

#li1{
    display: none;
}
#li2{
    display: none;
}
#li3{
    display: none;
}

#li4{
    display: none;
}
#li5{
    display: none;
}

.section-1 .heading{
    font-size: 15px;
    font-weight: 600;
    margin-top: -100px;
}
.first-word{
    color: #602BDF;
}
.section-1 .snip{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.container{
    height: 100vh;
    width: 100vw;
    margin-top: 0px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}
.left-img{
    width: 40vw;
    height: 100vh;
    /* border: 1px solid black; */
    background: url('../IMG/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 50px 50px 0;
}
.right-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    /* border: 1px solid blue; */
    /* background-color: #c39f82; */
}
.don-box{
    width: 70%;
    height: 600px;
    padding: 40px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

}
.middle-input{
    /* border: 1px solid darkgreen; */
    width: 50%;
}
.don-box h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1%;
}
.don-box .don-word{
    color: #308959;
}
.don-box p{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 1%;
}
.don-box input{
    border-radius: 10px;
    font-size: 16px;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid transparent;
    background-color: rgb(233 240 243);
    color: black;
    outline: none;
    width: 300px;
}
.don-box .middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.don-box .middle-img{
    height: auto;
    width: 50%;
    /* border: 1px solid black; */
    background: url(thank.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
input:focus{
    border: 1px solid #999;
    transition-duration: .3s;
}
::placeholder{
    color: black;
    opacity: 1;
}
.don-box .cta-don{
    width: max-content;
    font-size: 18px;
    font-weight: 500;
    background-color: #208952;
    color: white;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 13px;
    margin-top: 3%;
}
.don-box .cta-don:hover{
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.5s;
    background: green;
}

@media only screen and (max-width: 1610px) {
    .don-box .middle-img{
        display: none;
    }
}

@media only screen and (max-width: 1215px){
    .don-box h1 {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 1%;
        line-height: 60px;
    }
}

@media only screen and (max-width: 900px){
    .left-img{
        display: none;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    p{
        font-size: 14px !important;
    }
    input{
        margin-bottom: 20px !important;
        height : 40px !important;
    }
    .don-box{
        width: 370px;
        height: 650px;
        padding: 40px;
        border-radius: 50px;
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
        box-shadow:  20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;
    
    }
}